<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1 class="text-center">Welcome to a Todo App with Rails.</h1>
        <p class="lead text-center">This is a CRUD app created with Ruby and Rails for learning purpose</p>
        <p class="lead text-center">
            <%= link_to "Check your Todos", todos_path, class: "btn btn-lg btn-secondary fw-bold border-dark bg-dark" %>
        </p>
    </main>
</div>
